
@{
    ViewBag.Title = "Yetkisiz Erişim";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1><span class="glyphicon glyphicon-remove-circle"></span>Yetkisiz Erişim</h1>
            <br />
            <p>Bu Sayfaya Erişim Yetkiniz Bulunmamaktadır.</p>
            <br /><br />
            <a href="/Admin/Index" class="btn btn-primary">Admin Anasayfaya Geri Dön</a>
        </div>
    </div>

