body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#hero {
    width: 100%;
    height: 700px;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
}

    #hero .carousel-item {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        #hero .carousel-item::before {
            content: '';
            background-color: rgba(12, 11, 10, 0.5);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

    #hero .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .carousel-content {
        text-align: center;
    }

    #hero h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 700;
    }

        #hero h2 span {
            color: #ffb03b;
        }

    #hero p {
        width: 80%;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        margin: 0 auto 30px auto;
        color: #fff;
    }

    #hero .carousel-inner .carousel-item {
        transition-property: opacity;
        background-position: center top;
    }

    #hero .carousel-inner .carousel-item,
    #hero .carousel-inner .active.carousel-item-left,
    #hero .carousel-inner .active.carousel-item-right {
        opacity: 0;
    }

    #hero .carousel-inner .active,
    #hero .carousel-inner .carousel-item-next.carousel-item-left,
    #hero .carousel-inner .carousel-item-prev.carousel-item-right {
        opacity: 1;
        transition: 0.5s;
    }

        #hero .carousel-inner .carousel-item-next,
        #hero .carousel-inner .carousel-item-prev,
        #hero .carousel-inner .active.carousel-item-left,
        #hero .carousel-inner .active.carousel-item-right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }

    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 10%;
        opacity: 1;
    }

    #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
        background: none;
        font-size: 36px;
        line-height: 1;
        width: auto;
        height: auto;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50px;
        padding: 10px;
        transition: 0.3s;
        color: rgba(255, 255, 255, 0.5);
    }

        #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
            background: rgba(255, 255, 255, 0.2);
            color: rgba(255, 255, 255, 0.8);
        }

    #hero .carousel-indicators li {
        cursor: pointer;
    }

    #hero .btn-menu, #hero .btn-book {
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        padding: 12px 30px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 0 10px;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        color: #fff;
        border: 2px solid #ffb03b;
    }

        #hero .btn-menu:hover, #hero .btn-book:hover {
            background: #ffb03b;
            color: #fff;
        }

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 50%;
    }

    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}

.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

    .why-us .box span {
        display: block;
        font-size: 28px;
        font-weight: 700;
        color: #ffcf88;
    }

    .why-us .box h4 {
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin: 20px 0;
        color: #6c665c;
    }

    .why-us .box p {
        color: #aaaaaa;
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .why-us .box:hover {
        background: #ffb03b;
        padding: 30px 30px 70px 30px;
        box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    }

        .why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
            color: #fff;
        }

.contact .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.contact .info {
    background: #fff;
}

    .contact .info i {
        font-size: 20px;
        color: #ffb03b;
        float: left;
        width: 44px;
        height: 44px;
        background: #fff6e8;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }

    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #433f39;
        font-family: "Poppins", sans-serif;
    }

    .contact .info p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #7a7368;
    }

    .contact .info:hover i {
        background: #ffb03b;
        color: #fff;
    }

#footer {
    background: url('../images/slide/footer.jpeg') center center no-repeat;
    color: #fff;
    font-size: 14px;
    position: relative;
}

    #footer::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.85);
        z-index: 1;
    }

    #footer .footer-top {
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 80px 0;
    }

        #footer .footer-top .footer-logo img {
            height: 80px;
        }

        #footer .footer-top h3 {
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            position: relative;
            font-family: "Poppins", sans-serif;
            padding: 30px 0 0 0;
            margin-bottom: 0;
        }

        #footer .footer-top p {
            font-size: 15;
            font-style: italic;
            margin: 30px 0 0 0;
            padding: 0;
        }

        #footer .footer-top .footer-newsletter {
            text-align: center;
            font-size: 15px;
            margin-top: 30px;
        }

            #footer .footer-top .footer-newsletter form {
                background: #fff;
                padding: 6px 10px;
                position: relative;
                border-radius: 50px;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                text-align: left;
            }

                #footer .footer-top .footer-newsletter form input[type="email"] {
                    border: 0;
                    padding: 4px 8px;
                    width: calc(100% - 100px);
                }

                #footer .footer-top .footer-newsletter form input[type="submit"] {
                    position: absolute;
                    top: 0;
                    right: -1px;
                    bottom: 0;
                    border: 0;
                    background: none;
                    font-size: 16px;
                    padding: 0 20px;
                    background: #7cc576;
                    color: #fff;
                    transition: 0.3s;
                    border-radius: 50px;
                    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                }

                    #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
                        background: #5ab652;
                    }

        #footer .footer-top .social-links {
            margin-top: 30px;
        }

            #footer .footer-top .social-links a {
                font-size: 18px;
                display: inline-block;
                background: #7cc576;
                color: #fff;
                line-height: 1;
                padding: 8px 0;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;
            }

                #footer .footer-top .social-links a:hover {
                    background: #5ab652;
                    color: #fff;
                    text-decoration: none;
                }

    #footer .footer-bottom {
        border-top: 1px solid #222222;
        z-index: 2;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #footer .copyright {
        text-align: center;
    }

    #footer .credits {
        text-align: center;
        font-size: 13px;
        padding-top: 5px;
    }