@using BusinessLayer
@using Entities

@{
    ProjectsDoneManager projectsDoneManager = new ProjectsDoneManager();
    IEnumerable<ProjectsDone> listProjectsDone = projectsDoneManager.ListQueryable().OrderByDescending(x => x.CreatedOn);
}

@{
    ViewBag.Title = "Galery";
}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Galeri</h2>
            <h4>Şirket olarak başarılı bir şekilde bitirmiş olduğumuz çalışmalardan bazı görseller</h4>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            @foreach (ProjectsDone item in listProjectsDone)
            {
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/images/projectsdone/@item.SlideImage1" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <div class="portfolio-links">
                                <a href="~/images/projectsdone/@item.SlideImage1" data-gall="portfolioGallery" class="venobox" title="@item.Title"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/images/projectsdone/@item.SlideImage2" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <div class="portfolio-links">
                                <a href="~/images/projectsdone/@item.SlideImage2" data-gall="portfolioGallery" class="venobox" title="@item.Title"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/images/projectsdone/@item.SlideImage3" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <div class="portfolio-links">
                                <a href="~/images/projectsdone/@item.SlideImage3" data-gall="portfolioGallery" class="venobox" title="@item.Title"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End Portfolio Section -->
