
@{
    ViewBag.Title = "Index";
}

    <main id="main">

        @Html.Partial("_PartialServices")

        @Html.Partial("_PartialProjectsDone")

        @Html.Partial("_PartialTeam")

    </main><!-- End #main -->
